@use '../1.settings/variables';

@media screen and (min-width:1124px) {
  .o-container {
    &--global {
      gap: 2rem;
      max-width: 70rem;
      flex-direction: row;
    }
    &--cards {
      gap: 2rem;
      justify-content: space-between;
    }
  }

  .c-user {
    &__profile {
      width: 16rem;
      flex-direction: column;
      padding: 2rem;
    }
    &__name{
      margin-bottom: 2.5rem;
    }
    &__photo {
      margin-bottom: 2rem;
    }
    &__button:hover{
      color: variables.$neutral-color-one;
    }
    &__buttons {
      display: inline-flex;
      flex-direction: column;
      padding-left: 2rem;
      gap: 1rem;
    }
  }

  .c-card {
    width: calc(33.3% - 1.5rem);

    &__title {
      margin-bottom: 1.5rem;
    }
    &__content {
      cursor: pointer;
      transition: background-color 1s ease;
      &:hover {
        background-color: variables.$primary-color-one-hover;
      }
    }
    &__button{
      cursor: pointer;
      &:hover *{
        fill: variables.$neutral-color-one;
      }
    }
  }
}