$black-russian: #0D1323;
$alice-blue:#FDFEFF;
$lavender-blue:#BBC0FF;
$lavender-blue-90:#BBC0FF90;
$lucky-point:#1D204B;
$torea-bay:#34397B;
$neon-blue:#5746EA;
$atomic-tangerine:#FF8B64;
$malibu:#56C2E6;
$brink-pink:#FF5E7D;
$emerald:#4BCF83;
$purple-heart:#7334D2;
$cream-can:#F1C75B;

/* Primary */
$primary-color-one: $lucky-point;
$primary-color-two: $neon-blue;
$primary-color-one-hover: $torea-bay;
/* Neutral */
$neutral-color-one: $alice-blue;
$neutral-color-two: $lavender-blue;
$neutral-color-two-90: $lavender-blue-90;
/* Accent */
$accent-color-orange: $atomic-tangerine;
$accent-color-blue: $malibu;
$accent-color-pink: $brink-pink;
$accent-color-green: $emerald;
$accent-color-purple: $purple-heart;
$accent-color-yellow: $cream-can;
/* Background-color */
$bg-color: $black-russian;